Algorithms Illuminated (Part 2) Graph Algorithms and Data Structures by Tim Roughgarden (z-lib.org).pdf
Algorithms Illuminated (Part 3) Greedy Algorithms and Dynamic Programming by Tim Roughgarden (z-lib.org) (1).pdf
Algorithms Illuminated (Part 3) Greedy Algorithms and Dynamic Programming by Tim Roughgarden (z-lib.org).pdf
Algorithms Illuminated (Part 4) Algorithms for NP-Hard Problems by Tim Roughgarden (z-lib.org).pdf
Algorithms Illuminated Part 1 The Basics by Tim Roughgarden (z-lib.org).pdf
Hash Tables.txt
Notes Wek 4.txt
Thumbs.db
Week 10/Week 10.txt
Week 10/Week 11.txt
Week 5/__MACOSX/._algo1slides
Week 5/__MACOSX/algo1slides/._.DS_Store
Week 5/__MACOSX/algo1slides/._Part 1
Week 5/__MACOSX/algo1slides/._Part 10
Week 5/__MACOSX/algo1slides/._Part 11
Week 5/__MACOSX/algo1slides/._Part 12
Week 5/__MACOSX/algo1slides/._Part 13
Week 5/__MACOSX/algo1slides/._Part 14
Week 5/__MACOSX/algo1slides/._Part 15
Week 5/__MACOSX/algo1slides/._Part 16
Week 5/__MACOSX/algo1slides/._Part 2
Week 5/__MACOSX/algo1slides/._Part 3
Week 5/__MACOSX/algo1slides/._Part 4
Week 5/__MACOSX/algo1slides/._Part 5
Week 5/__MACOSX/algo1slides/._Part 6
Week 5/__MACOSX/algo1slides/._Part 7
Week 5/__MACOSX/algo1slides/._Part 8
Week 5/__MACOSX/algo1slides/._Part 9
Week 5/__MACOSX/algo1slides/Part 1/._.DS_Store
Week 5/__MACOSX/algo1slides/Part 1/._algo1-intro1.pdf
Week 5/__MACOSX/algo1slides/Part 1/._algo1-intro2_typed.pdf
Week 5/__MACOSX/algo1slides/Part 1/._algo1-intro3_typed.pdf
Week 5/__MACOSX/algo1slides/Part 1/._slides_algo-about_typed.pdf
Week 5/__MACOSX/algo1slides/Part 1/._slides_algo-guiding_typed.pdf
Week 5/__MACOSX/algo1slides/Part 1/._slides_algo-merge1_typed.pdf
Week 5/__MACOSX/algo1slides/Part 1/._slides_algo-merge2_typed.pdf
Week 5/__MACOSX/algo1slides/Part 1/._slides_algo-merge3_typed.pdf
Week 5/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-bfs_typed.pdf
Week 5/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-dfs_typed.pdf
Week 5/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-scc_typed.pdf
Week 5/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-sccanalysis_typed.pdf
Week 5/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-search_typed.pdf
Week 5/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-web_typed.pdf
Week 5/__MACOSX/algo1slides/Part 11/._slides_algo-dijkstra-basics_typed.pdf
Week 5/__MACOSX/algo1slides/Part 11/._slides_algo-dijkstra-correctness_typed.pdf
Week 5/__MACOSX/algo1slides/Part 11/._slides_algo-dijkstra-runtime_typed.pdf
Week 5/__MACOSX/algo1slides/Part 12/._.DS_Store
Week 5/__MACOSX/algo1slides/Part 12/._slides_algo-ds-heaps-basics_typed.pdf
Week 5/__MACOSX/algo1slides/Part 12/._slides_algo-ds-heaps-guts_typed.pdf
Week 5/__MACOSX/algo1slides/Part 12/._slides_algo-ds-overview_typed.pdf
Week 5/__MACOSX/algo1slides/Part 13/._slides_algo-ds-trees-basics-typed.pdf
Week 5/__MACOSX/algo1slides/Part 13/._slides_algo-ds-trees-ops-typed.pdf
Week 5/__MACOSX/algo1slides/Part 13/._slides_algo-ds-trees-rbinsert-annotated.pdf
Week 5/__MACOSX/algo1slides/Part 13/._slides_algo-ds-trees-redblack-typed.pdf
Week 5/__MACOSX/algo1slides/Part 13/._slides_algo-ds-trees-rotations-annotated.pdf
Week 5/__MACOSX/algo1slides/Part 14/._.DS_Store
Week 5/__MACOSX/algo1slides/Part 14/._slides_algo-ds-hash-basics_typed.pdf
Week 5/__MACOSX/algo1slides/Part 14/._slides_algo-ds-hash-guts_typed.pdf
Week 5/__MACOSX/algo1slides/Part 15/._slides_algo-ds-hash-universal1-typed.pdf
Week 5/__MACOSX/algo1slides/Part 15/._slides_algo-ds-hash-universal-2_typed.pdf
Week 5/__MACOSX/algo1slides/Part 15/._slides_algo-ds-hash-universal3-typed.pdf
Week 5/__MACOSX/algo1slides/Part 15/._slides_algo-ds-hash-universal4-typed.pdf
Week 5/__MACOSX/algo1slides/Part 16/._slides_algo-ds-bloom-typed (1).pdf
Week 5/__MACOSX/algo1slides/Part 16/._slides_algo-ds-bloom-typed.pdf
Week 5/__MACOSX/algo1slides/Part 2/._algo1-aa-gist_typed.pdf
Week 5/__MACOSX/algo1slides/Part 2/._slides_algo-asymptotic1_typed.pdf
Week 5/__MACOSX/algo1slides/Part 2/._slides_algo-asymptotic2_typed.pdf
Week 5/__MACOSX/algo1slides/Part 2/._slides_algo-asymptotic3_typed.pdf
Week 5/__MACOSX/algo1slides/Part 2/._slides_algo-asymptotic4_typed.pdf
Week 5/__MACOSX/algo1slides/Part 3/._slides_algo-closest1_typed.pdf
Week 5/__MACOSX/algo1slides/Part 3/._slides_algo-closest2_typed.pdf
Week 5/__MACOSX/algo1slides/Part 3/._slides_algo-inversions1_typed.pdf
Week 5/__MACOSX/algo1slides/Part 3/._slides_algo-inversions2_typed.pdf
Week 5/__MACOSX/algo1slides/Part 3/._slides_algo-strassen_typed.pdf
Week 5/__MACOSX/algo1slides/Part 4/._slides_algo-master1_typed.pdf
Week 5/__MACOSX/algo1slides/Part 4/._slides_algo-master2_typed.pdf
Week 5/__MACOSX/algo1slides/Part 4/._slides_algo-master3_typed.pdf
Week 5/__MACOSX/algo1slides/Part 4/._slides_algo-master4_typed.pdf
Week 5/__MACOSX/algo1slides/Part 4/._slides_algo-master5_typed.pdf
Week 5/__MACOSX/algo1slides/Part 4/._slides_algo-master6_typed.pdf
Week 5/__MACOSX/algo1slides/Part 5/._slides_algo-qsort-correctness_typed.pdf
Week 5/__MACOSX/algo1slides/Part 5/._slides_algo-qsort-intro_typed.pdf
Week 5/__MACOSX/algo1slides/Part 5/._slides_algo-qsort-partition_typed.pdf
Week 5/__MACOSX/algo1slides/Part 5/._slides_algo-qsort-pivot_typed.pdf
Week 5/__MACOSX/algo1slides/Part 6/._slides_algo-qsort-analysis1_typed.pdf
Week 5/__MACOSX/algo1slides/Part 6/._slides_algo-qsort-analysis2_typed.pdf
Week 5/__MACOSX/algo1slides/Part 6/._slides_algo-qsort-analysis3_typed.pdf
Week 5/__MACOSX/algo1slides/Part 7/._slides_algo-prob_review1_typed.pdf
Week 5/__MACOSX/algo1slides/Part 7/._slides_algo-prob_review2_typed.pdf
Week 5/__MACOSX/algo1slides/Part 8/._slides_algo-select-dalgorithm_typed.pdf
Week 5/__MACOSX/algo1slides/Part 8/._slides_algo-select-danalysis_typed.pdf
Week 5/__MACOSX/algo1slides/Part 8/._slides_algo-select-danalysis2_typed.pdf
Week 5/__MACOSX/algo1slides/Part 8/._slides_algo-select-ralgorithm_typed.pdf
Week 5/__MACOSX/algo1slides/Part 8/._slides_algo-select-ranalysis_typed.pdf
Week 5/__MACOSX/algo1slides/Part 8/._slides_algo-select-sortinglb_typed.pdf
Week 5/__MACOSX/algo1slides/Part 9/._slides_algo-karger-algorithm_typed.pdf
Week 5/__MACOSX/algo1slides/Part 9/._slides_algo-karger-analysis_typed.pdf
Week 5/__MACOSX/algo1slides/Part 9/._slides_algo-karger-counting_typed.pdf
Week 5/__MACOSX/algo1slides/Part 9/._slides_algo-karger-overview_typed.pdf
Week 5/__MACOSX/algo1slides/Part 9/._slides_algo-karger-representations_typed.pdf
Week 5/algo1slides/.DS_Store
Week 5/algo1slides/Part 1/.DS_Store
Week 5/algo1slides/Part 1/algo1-intro1.pdf
Week 5/algo1slides/Part 1/algo1-intro2_typed.pdf
Week 5/algo1slides/Part 1/algo1-intro3_typed.pdf
Week 5/algo1slides/Part 1/slides_algo-about_typed.pdf
Week 5/algo1slides/Part 1/slides_algo-guiding_typed.pdf
Week 5/algo1slides/Part 1/slides_algo-merge1_typed.pdf
Week 5/algo1slides/Part 1/slides_algo-merge2_typed.pdf
Week 5/algo1slides/Part 1/slides_algo-merge3_typed.pdf
Week 5/algo1slides/Part 10/slides_algo-graphs-bfs_typed.pdf
Week 5/algo1slides/Part 10/slides_algo-graphs-dfs_typed.pdf
Week 5/algo1slides/Part 10/slides_algo-graphs-scc_typed.pdf
Week 5/algo1slides/Part 10/slides_algo-graphs-sccanalysis_typed.pdf
Week 5/algo1slides/Part 10/slides_algo-graphs-search_typed.pdf
Week 5/algo1slides/Part 10/slides_algo-graphs-web_typed.pdf
Week 5/algo1slides/Part 11/slides_algo-dijkstra-basics_typed.pdf
Week 5/algo1slides/Part 11/slides_algo-dijkstra-correctness_typed.pdf
Week 5/algo1slides/Part 11/slides_algo-dijkstra-runtime_typed.pdf
Week 5/algo1slides/Part 12/.DS_Store
Week 5/algo1slides/Part 12/slides_algo-ds-heaps-basics_typed.pdf
Week 5/algo1slides/Part 12/slides_algo-ds-heaps-guts_typed.pdf
Week 5/algo1slides/Part 12/slides_algo-ds-overview_typed.pdf
Week 5/algo1slides/Part 13/slides_algo-ds-trees-basics-typed.pdf
Week 5/algo1slides/Part 13/slides_algo-ds-trees-ops-typed.pdf
Week 5/algo1slides/Part 13/slides_algo-ds-trees-rbinsert-annotated.pdf
Week 5/algo1slides/Part 13/slides_algo-ds-trees-redblack-typed.pdf
Week 5/algo1slides/Part 13/slides_algo-ds-trees-rotations-annotated.pdf
Week 5/algo1slides/Part 14/.DS_Store
Week 5/algo1slides/Part 14/slides_algo-ds-hash-basics_typed.pdf
Week 5/algo1slides/Part 14/slides_algo-ds-hash-guts_typed.pdf
Week 5/algo1slides/Part 15/slides_algo-ds-hash-universal1-typed.pdf
Week 5/algo1slides/Part 15/slides_algo-ds-hash-universal-2_typed.pdf
Week 5/algo1slides/Part 15/slides_algo-ds-hash-universal3-typed.pdf
Week 5/algo1slides/Part 15/slides_algo-ds-hash-universal4-typed.pdf
Week 5/algo1slides/Part 16/slides_algo-ds-bloom-typed (1).pdf
Week 5/algo1slides/Part 16/slides_algo-ds-bloom-typed.pdf
Week 5/algo1slides/Part 2/algo1-aa-gist_typed.pdf
Week 5/algo1slides/Part 2/slides_algo-asymptotic1_typed.pdf
Week 5/algo1slides/Part 2/slides_algo-asymptotic2_typed.pdf
Week 5/algo1slides/Part 2/slides_algo-asymptotic3_typed.pdf
Week 5/algo1slides/Part 2/slides_algo-asymptotic4_typed.pdf
Week 5/algo1slides/Part 3/slides_algo-closest1_typed.pdf
Week 5/algo1slides/Part 3/slides_algo-closest2_typed.pdf
Week 5/algo1slides/Part 3/slides_algo-inversions1_typed.pdf
Week 5/algo1slides/Part 3/slides_algo-inversions2_typed.pdf
Week 5/algo1slides/Part 3/slides_algo-strassen_typed.pdf
Week 5/algo1slides/Part 4/slides_algo-master1_typed.pdf
Week 5/algo1slides/Part 4/slides_algo-master2_typed.pdf
Week 5/algo1slides/Part 4/slides_algo-master3_typed.pdf
Week 5/algo1slides/Part 4/slides_algo-master4_typed.pdf
Week 5/algo1slides/Part 4/slides_algo-master5_typed.pdf
Week 5/algo1slides/Part 4/slides_algo-master6_typed.pdf
Week 5/algo1slides/Part 5/slides_algo-qsort-correctness_typed.pdf
Week 5/algo1slides/Part 5/slides_algo-qsort-intro_typed.pdf
Week 5/algo1slides/Part 5/slides_algo-qsort-partition_typed.pdf
Week 5/algo1slides/Part 5/slides_algo-qsort-pivot_typed.pdf
Week 5/algo1slides/Part 6/slides_algo-qsort-analysis1_typed.pdf
Week 5/algo1slides/Part 6/slides_algo-qsort-analysis2_typed.pdf
Week 5/algo1slides/Part 6/slides_algo-qsort-analysis3_typed.pdf
Week 5/algo1slides/Part 7/slides_algo-prob_review1_typed.pdf
Week 5/algo1slides/Part 7/slides_algo-prob_review2_typed.pdf
Week 5/algo1slides/Part 8/slides_algo-select-dalgorithm_typed.pdf
Week 5/algo1slides/Part 8/slides_algo-select-danalysis_typed.pdf
Week 5/algo1slides/Part 8/slides_algo-select-danalysis2_typed.pdf
Week 5/algo1slides/Part 8/slides_algo-select-ralgorithm_typed.pdf
Week 5/algo1slides/Part 8/slides_algo-select-ranalysis_typed.pdf
Week 5/algo1slides/Part 8/slides_algo-select-sortinglb_typed.pdf
Week 5/algo1slides/Part 9/slides_algo-karger-algorithm_typed.pdf
Week 5/algo1slides/Part 9/slides_algo-karger-analysis_typed.pdf
Week 5/algo1slides/Part 9/slides_algo-karger-counting_typed.pdf
Week 5/algo1slides/Part 9/slides_algo-karger-overview_typed.pdf
Week 5/algo1slides/Part 9/slides_algo-karger-representations_typed.pdf
Week 7/Notest.txt
Week 8/notes.txt
Week 9/Week 9.txt
Programming Assignments/Week 5 Programming Assignment/Week 5 Database.txt
Programming Assignments/Week 8 Programming Assignment/DataBase.txt
Programming Assignments/Week 5 Programming Assignment/Test Case 6.txt
Programming Assignments/Week 5 Programming Assignment/Week 5 Database - Copy.txt
Programming Assignments/Week 9 Programming Assignment with DLL/Assignment9/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Programming Assignments/Week 9 Programming Assignment with DLL/Assignment9/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Programming Assignments/Week 9 Programming Assignment with DLL/ClassLibraryProjects/GraphLibrary/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Programming Assignments/Week 9 Programming Assignment with DLL/ClassLibraryProjects/HeapLibrary/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
